<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>101 Smart I.S</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="author" content="" />

<!-- Facebook and Twitter integration -->
<meta property="og:title" content="" />
<meta property="og:image" content="" />
<meta property="og:url" content="" />
<meta property="og:site_name" content="" />
<meta property="og:description" content="" />
<meta name="twitter:title" content="" />
<meta name="twitter:image" content="" />
<meta name="twitter:url" content="" />
<meta name="twitter:card" content="" />

<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<link rel="shortcut icon" href="favicon.ico">

<link
	href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700"
	rel="stylesheet">

<link
	href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!-- Animate.css -->
<link rel="stylesheet" href="css/animate.css">
<!-- Icomoon Icon Fonts-->
<link rel="stylesheet" href="css/icomoon.css">
<!-- Bootstrap  -->
<link rel="stylesheet" href="css/bootstrap.css">
<!-- Flexslider  -->
<link rel="stylesheet" href="css/flexslider.css">
<!-- Flaticons  -->
<link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
<!-- Owl Carousel -->
<link rel="stylesheet" href="css/owl.carousel.min.css">
<link rel="stylesheet" href="css/owl.theme.default.min.css">
<!-- Theme style  -->
<link rel="stylesheet" href="css/style.css">

<!-- Modernizr JS -->
<script src="js/modernizr-2.6.2.min.js"></script>
<!-- FOR IE9 below -->
<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<div id="colorlib-page">
		<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
		<aside id="colorlib-aside" role="complementary"
			class="border js-fullheight">
			<h1 id="colorlib-logo">
				<a href="index.html">Oeuvre d'Art Africain</a>
			</h1>
			<nav id="colorlib-main-menu" role="navigation">
				<ul>
					<li><a href="/home">Acceuil</a></li>
					<li><a href="/galerie">Gallerie</a></li>
					<li><a href="/nouvelles">Nouvelle Oeuvre</a></li>
					<li><a href="/articles">Articles</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</nav>

			<div class="colorlib-footer">
				<p>
					<small>&copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;<script>document.write(new Date().getFullYear());</script>
						101 Smart International Service All rights reserved | This
						application is made with <i class="icon-heart" aria-hidden="true"></i>
						by <a href="https://www.linkedin.com/in/lysiah-mengue/"
						target="_blank">Mengue Lysiah</a>
						<ul>
							<li><a href="#"><i class="icon-instagram"></i></a></li>
							<li><a href="#"><i class="icon-linkedin2"></i></a></li>
						</ul>
			</div>

		</aside>

		<div id="colorlib-main">

			<div class="colorlib-about">
				<div class="colorlib-narrow-content">
					<div class="row row-bottom-padded-md">
						<div class="col-md-6">
							<div class="thumbnail">
								<div class="about-img animate-box"
									data-animate-effect="fadeInLeft"
									th:style="'background-image:url(' + ${article} + ');'">
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
							<div class="about-desc">
								<span class="heading-meta">Detail de l'oeuvre</span>
								<h2 class="colorlib-heading" th:text="${nomArticle}"></h2>

								<h4 th:text="${'Prix : '+price}"></h4>
								<div id="card" class="container">
									<div class="row">
										<div class="col-xs-12 col-md-4">
											<div class="panel panel-default">
												<div class="panel-heading">
													<h3 class="panel-title">Detail de payement</h3>
												</div>
												<div class="panel-body">
													<form role="form">
														<div class="form-group">
															<label for="cardNumber"> NUMERO DE CARTE</label>
															<div class="input-group">
																<input type="text" class="form-control" id="cardNumber"
																	placeholder="Valid Card Number"  />
																<span class="input-group-addon"><span
																	class="glyphicon glyphicon-lock"></span></span>
															</div>
														</div>
														<div class="row">
															<div class="col-xs-7 col-md-7">
																<div class="form-group">
																	<label for="expityMonth"> DATE D'EXPIRATION</label>
																	<div class="col-xs-6 col-lg-6 pl-ziro">
																		<input type="text" class="form-control"
																			id="expityMonth" placeholder="MM"  />
																	</div>
																	<div class="col-xs-6 col-lg-6 pl-ziro">
																		<input type="text" class="form-control"
																			id="expityYear" placeholder="YY"  />
																	</div>
																</div>
															</div>
															<div class="col-xs-5 col-md-5 pull-right">
																<div class="form-group">
																	<label for="cvCode"> CV CODE</label> <input
																		type="password" class="form-control" id="cvCode"
																		placeholder="CV"  />
																</div>
															</div>
														</div>
													</form>
												</div>
											</div>
											<ul class="nav nav-pills nav-stacked">
												<li class="active"><a href="#"><span
														class="badge pull-right"> <span th:text="${price}"></span>
													</span> Payement final</a></li>
											</ul>
											<br /> <a href="http://www.jquery2dotnet.com"
												class="btn btn-success btn-lg btn-block" role="button">Pay</a>
										</div>
									</div>
								</div>











							</div>
							<div class="row padding">
								<div class="col-md-4 no-gutters animate-box"
									data-animate-effect="fadeInLeft">
									<a class="steps active">
										<p class="icon">
											<span><i class="icon-check"></i></span>
										</p>
										<h3>Héritage</h3>
									</a>
								</div>
								<div class="col-md-4 no-gutters animate-box"
									data-animate-effect="fadeInLeft">
									<a class="steps active">
										<p class="icon">
											<span><i class="icon-check"></i></span>
										</p>
										<h3>Vivante</h3>
									</a>
								</div>
								<div class="col-md-4 no-gutters animate-box"
									data-animate-effect="fadeInLeft">
									<a class="steps active">
										<p class="icon">
											<span><i class="icon-check"></i></span>
										</p>
										<h3>Authentique</h3>
								</div>
							</div>
						</div>
					</div>
					<div class="row">

						<h2 class="colorlib-heading">Histoire</h2>
						<p style="color: black; font-size: 14px; font-weight: bold;">
							Les Royaumes et la civilisation BANTU ont cultivé des céréales:
							millet, sorgho, haricots et bananes, avant que leurs descendants
							ne recoivent le riz asiatique, le maïs, l'arachide, le manioc et
							la patate d'Amérique. Les ignames ont aussi été cultivées par les
							proto-bantu. Ils avaient un élevage: bovins, moutons et chèvres,
							poules et chiens. Les bantu cultivent la terre depuis fort
							longtemps. Grâce aux travaux agricoles, ils entretiennent leur
							vie, en même temps qu'ils rendent hommage aux esprits des
							ancêtres, gardiens de la terre nourricière. Ainsi, la
							civilisation bantu est fondamentalement une civilisation
							d'agriculteurs. Le palmier est l'arbre même de la civilisation
							bantu: il produit du vin, des fruits comestibles, des champignons
							comestibles, du sel...les proto-bantu utilisaient du fer pour
							fabriquer des houes, haches, couteaux, harpons, lances, arcs et
							flèches. Depuis les temps les plus reculés, le travail de la
							forge constitue, en Afrique bantu, un rituel à grand renfort
							d'esprits, de remèdes et de talismans: le forgeron est un nganga,
							c'est à dire un maître, un devin. .</p>
					</div>

				</div>
			</div>
		</div>


		<div id="colorlib-counter" class="colorlib-counters"
			style="background-image: url(peintures/bwiti.jpeg);"
			data-stellar-background-ratio="4">
			<div class="overlay"></div>
			<div class="colorlib-narrow-content">
				<div class="row"></div>

			</div>
		</div>


	</div>
	</div>

	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="js/jquery.flexslider-min.js"></script>
	<!-- Sticky Kit -->
	<script src="js/sticky-kit.min.js"></script>
	<!-- Owl carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- Counters -->
	<script src="js/jquery.countTo.js"></script>


	<!-- MAIN JS -->
	<script src="js/main.js"></script>

</body>
</html>

